.card{
  margin-top: 10%;
  border-radius: 7px;
  padding: 20px 60px 22px 60px;
  box-shadow: 0px 1px 7px #95989A;
}

label:hover{
  color: #F7941E;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  
  p{
      text-align: center;
      color: #7D7D7D;
    }
}
  h5{
    color: #575756;
  }
.input-group{
    margin-bottom: 3px;

}
p{
    margin-bottom: 2px;
}
  button{
    margin-top: 10px;
  }