<div class="login-background">
  <div class="justify-content-center">
    <div class="col-lg-5 col-md-7 col-sm-9 card	">
      <form class="content" [formGroup]="resetPasswordForm" (ngSubmit)='resetPassword()' novalidate>
        <div class="row justify-content-center">
          <div class="col-8">
            <img src="../../assets/images/logo-dark.png" class="logo" salt="">
          </div>
        </div>

        <div class="align-center">
          <h5>Esqueceu a senha?</h5>
        </div>

        <div class="align-center">
          <div class="col-11">
            <p> Insira seu e-mail, iremos enviar uma notificação com instruções de como redefinir sua senha </p>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="input-group">
              <input type="text" class="form-control" formControlName="email" required="required" placeholder="Digite seu e-mail" aria-describedby="basic-addon1">
            </div>
            <p class="input-error" *ngIf="resetPasswordForm.controls.email.hasError('required')  && (resetPasswordForm.controls.email.dirty || submitAttemptRegister )">* E-mail é obrigatório</p>
            <p class="input-error" *ngIf="resetPasswordForm.controls.email.hasError('email')  && (resetPasswordForm.controls.email.dirty && submitAttemptRegister ) && !resetPasswordForm.controls.email.hasError('required') ">* E-mail inválido</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <p class="input-sucess" *ngIf="showSuccessMessage">E-mail enviado com sucesso! Redirecionando para a página de login...</p>
            <p class="input-error" *ngIf="showErrorMessage">Problemas na conexão ou e-mail não cadastrado</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button class="btn btn-login" type="submit"> Redefinir senha </button>
          </div>
        </div>

        <br>

        <div class="align-center">
          <label routerLink="/login">Voltar para login</label>
        </div>

      </form>
    </div>
  </div>
</div>
